

.mikedev9000-widget{
	padding:5px;
	margin:5px;
	color:yellow;
	background: blue;
	border: solid 1px white;
	.widget-loading{
		cursor: progress;
	}
	.widget-error{
	}
}

.left{
	float:left;
}

.right{
	float:right;
}

.clear{
	clear: both;
}
